menuconfig IMG_PVR_GPU
	bool "IMG PVR GPU Support "
	default n
	help
		Say Y here if you have a IMG GPU on the chip

config IMG_SGX_5xx
	tristate "SGX-540 or SGX-544"
	default n
	depends on IMG_PVR_GPU
	help
	  Say M here if you have a IMG_SGX_5xx on the chip


config IMG_SGX_5xx_DEBUG
	bool "Debug output"
	default n
	depends on IMG_SGX_5xx
	help
	  Say y here if you want to have debug output.

config IMG_SGX_5xx_BUILD_DEBUG
	bool "Build with debug option"
	default n
	depends on IMG_SGX_5xx
	help
	  Say y here if you want to compile a debug build instead of a release build
