# start blanview display daemon on Letux 3704

[Unit]
After=systemd-user-sessions.service

[Service]
ExecStart=/root/blanviewd

[Install]
WantedBy=multi-user.target
