[Unit]
Description=Setup Letux Panel config
Before=nodm.service

[Service]
Type=oneshot
ExecStart=/etc/X11/xinit/letux-setup

[Install]
WantedBy=graphical.target
