[Unit]
Description=OMAP5 Tiler setup to rotate display
Before=nodm.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/root/tiler-ctl 270

[Install]
WantedBy=graphical.target
WantedBy=multi-user.target
