# start volume wheel daemon on Pyra

[Unit]
Description=Start volume wheel daemon on Pyra
After=systemd-user-sessions.service

[Service]
ExecStart=/root/volumed -q

[Install]
WantedBy=multi-user.target
