# start volume wheel daemon on Pyra

[Unit]
Description=Start volume wheel daemon on Pyra
After=systemd-user-sessions.service

[Service]
ExecStart=/bin/sh -c 'cd /root/pyra_vol_mon && make && ./pyra_vol_mon -c 2 /root/pyra_vol_mon/pyra_vol_ctl'

[Install]
WantedBy=multi-user.target
