// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Dongjin Kim <tobetter@gmail.com>
 *
 */

/dts-v1/;

#include "meson64_odroidn2.dts"

/ {
	model = "Hardkernel ODROID-N2Plus";
};
