// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Dongjin Kim <tobetter@gmail.com>
 */

/dts-v1/;

#include "meson-sm1-odroid.dtsi"

/ {
	compatible = "hardkernel,odroid-c4", "amlogic,sm1";
	model = "Hardkernel ODROID-C4";

	leds {
		compatible = "gpio-leds";

		led-blue {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio_ao GPIOAO_11 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			panic-indicator;
		};
	};

	sound {
		model = "ODROID-C4";
	};

	/* USB hub supports both USB 2.0 and USB 3.0 root hub */
	usb-hub {
		dr_mode = "host";
		#address-cells = <1>;
		#size-cells = <0>;

		/* 2.0 hub on port 1 */
		hub_2_0: hub@1 {
			compatible = "usb2109,2817";
			reg = <1>;
			peer-hub = <&hub_3_0>;
			reset-gpios = <&gpio GPIOH_4 GPIO_ACTIVE_LOW>;
			vdd-supply = <&vcc_5v>;
		};

		/* 3.1 hub on port 4 */
		hub_3_0: hub@2 {
			compatible = "usb2109,817";
			reg = <2>;
			peer-hub = <&hub_2_0>;
			reset-gpios = <&gpio GPIOH_4 GPIO_ACTIVE_LOW>;
			vdd-supply = <&vcc_5v>;
		};
	};
};

&cpu_opp_table {
	opp-1000000000 {
		opp-hz = /bits/ 64 <1000000000>;
		opp-microvolt = <799999>;
	};

	opp-1200000000 {
		opp-hz = /bits/ 64 <1200000000>;
		opp-microvolt = <809999>;
	};

	opp-1404000000 {
		opp-hz = /bits/ 64 <1404000000>;
		opp-microvolt = <819999>;
	};

	opp-1500000000 {
		opp-hz = /bits/ 64 <1500000000>;
		opp-microvolt = <829999>;
	};

	opp-1608000000 {
		opp-hz = /bits/ 64 <1608000000>;
		opp-microvolt = <859999>;
	};

	opp-1704000000 {
		opp-hz = /bits/ 64 <1704000000>;
		opp-microvolt = <899999>;
	};

	opp-1800000000 {
		opp-hz = /bits/ 64 <1800000000>;
		opp-microvolt = <939999>;
	};

	opp-1908000000 {
		opp-hz = /bits/ 64 <1908000000>;
		opp-microvolt = <999999>;
	};
};

&periphs_pinctrl {
	gpio-line-names =
		/* GPIOZ */
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		/* GPIOH */
		"", "", "", "", "",
		"PIN_36", /* GPIOH_5 */
		"PIN_26", /* GPIOH_6 */
		"PIN_32", /* GPIOH_7 */
		"",
		/* BOOT */
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "", "", "",
		/* GPIOC */
		"", "", "", "", "", "", "", "",
		/* GPIOA */
		"", "", "", "", "", "", "", "",
		"", "", "", "", "", "",
		"PIN_27", /* GPIOA_14 */
		"PIN_28", /* GPIOA_15 */
		/* GPIOX */
		"PIN_16", /* GPIOX_0 */
		"PIN_18", /* GPIOX_1 */
		"PIN_22", /* GPIOX_2 */
		"PIN_11", /* GPIOX_3 */
		"PIN_13", /* GPIOX_4 */
		"PIN_7",  /* GPIOX_5 */
		"PIN_33", /* GPIOX_6 */
		"PIN_15", /* GPIOX_7 */
		"PIN_19", /* GPIOX_8 */
		"PIN_21", /* GPIOX_9 */
		"PIN_24", /* GPIOX_10 */
		"PIN_23", /* GPIOX_11 */
		"PIN_8",  /* GPIOX_12 */
		"PIN_10", /* GPIOX_13 */
		"PIN_29", /* GPIOX_14 */
		"PIN_31", /* GPIOX_15 */
		"PIN_12", /* GPIOX_16 */
		"PIN_3",  /* GPIOX_17 */
		"PIN_5",  /* GPIOX_18 */
		"PIN_35"; /* GPIOX_19 */
};

&gpio {
	/*
	 * WARNING: The USB Hub on the Odroid-C4 needs a reset signal
	 * to be turned high in order to be detected by the USB Controller
	 * This signal should be handled by a USB specific power sequence
	 * in order to reset the Hub when USB bus is powered down.
	 */
	hog-0 {
		gpio-hog;
		gpios = <GPIOH_4 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "usb-hub-reset";
	};
};

&ir {
	linux,rc-map-name = "rc-odroid";
};
