Source: linux
Section: kernel
Priority: optional
Maintainer: unknown <unknown>
Build-Depends: debhelper (>= 8.0.0), bc, lzop
Standards-Version: 3.9.3
Homepage: https://www.kernel.org/
Vcs-Git: https://github.com/mxOBS/deb-pkg_kernel-xyz.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_kernel-xyz

Package: linux-image-NAME
Architecture: any-arm
Provides: linux-image
Depends: ${misc:Depends}, initramfs-tools
Description: LONGNAME kernel
 This package provides the mainline kernel

Package: linux-headers-NAME
Architecture: any-arm
Provides: linux-headers
Depends: ${misc:Depends}
Description: kernel development files
 This package provides the required development files to build
 modules for this kernel.

Package: linux-NAME-dev
Architecture: any-arm
Description: kernel API development files
 This packages provides the required development files to
 utilize this kernel`s public API.
