Source: linux
Section: kernel
Priority: optional
Maintainer: Josua Mayer <josua.mayer97@gmail.com>
Build-Depends: debhelper (>= 8.0.0), bc, lzop, u-boot-tools
Standards-Version: 3.9.3
Homepage: https://www.kernel.org/
Vcs-Git: https://github.com/mxOBS/deb-pkg_kernel-xyz.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_kernel-xyz

Package: linux-image-letux
Architecture: any-arm
Provides: linux-image
Depends: ${misc:Depends}, initramfs-tools
Description: Letux kernel
 This package provides the mainline kernel patched for the Letux devices by goldelico.

Package: linux-headers-letux
Architecture: any-arm
Provides: linux-headers
Depends: ${misc:Depends}
Description: kernel development files
 This package provides the required development files to build
 modules for this kernel.

Package: linux-letux-dev
Architecture: any-arm
Description: kernel API development files
 This packages provides the required development files to
 utilize this kernel`s public API.
