/*
 * Copyright (C) 2014 H. Nikolaus Schaller <hns@goldelico.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "am335x-boneblack.dts"
#include <dt-bindings/input/input.h>

// taken from https://github.com/RobertCNelson/dtb-linux-dev/blob/master/src/arm/

#ifndef _DT_BINDINGS_BOARD_AM335X_BBW_BBB_BASE_H
#define _DT_BINDINGS_BOARD_AM335X_BBW_BBB_BASE_H

#define BONE_P8_03 0x018
#define BONE_P8_04 0x01C

#define BONE_P8_05 0x008
#define BONE_P8_06 0x00C
#define BONE_P8_07 0x090
#define BONE_P8_08 0x094

#define BONE_P8_09 0x09C
#define BONE_P8_10 0x098
#define BONE_P8_11 0x034
#define BONE_P8_12 0x030

#define BONE_P8_13 0x024
#define BONE_P8_14 0x028
#define BONE_P8_15 0x03C
#define BONE_P8_16 0x038

#define BONE_P8_17 0x02C
#define BONE_P8_18 0x08C
#define BONE_P8_19 0x020
#define BONE_P8_20 0x084

#define BONE_P8_21 0x080
#define BONE_P8_22 0x014
#define BONE_P8_23 0x010
#define BONE_P8_24 0x004

#define BONE_P8_25 0x000
#define BONE_P8_26 0x07C
#define BONE_P8_27 0x0E0
#define BONE_P8_28 0x0E8

#define BONE_P8_29 0x0E4
#define BONE_P8_30 0x0EC
#define BONE_P8_31 0x0D8
#define BONE_P8_32 0x0DC

#define BONE_P8_33 0x0D4
#define BONE_P8_34 0x0CC
#define BONE_P8_35 0x0D0
#define BONE_P8_36 0x0C8

#define BONE_P8_37 0x0C0
#define BONE_P8_38 0x0C4
#define BONE_P8_39 0x0B8
#define BONE_P8_40 0x0BC

#define BONE_P8_41 0x0B0
#define BONE_P8_42 0x0B4
#define BONE_P8_43 0x0A8
#define BONE_P8_44 0x0AC

#define BONE_P8_45 0x0A0
#define BONE_P8_46 0x0A4

#define BONE_P9_11 0x070
#define BONE_P9_12 0x078

#define BONE_P9_13 0x074
#define BONE_P9_14 0x048
#define BONE_P9_15 0x040
#define BONE_P9_16 0x04C

#define BONE_P9_17 0x15C
#define BONE_P9_18 0x158
#define BONE_P9_19 0x17C
#define BONE_P9_20 0x178

#define BONE_P9_21 0x154
#define BONE_P9_22 0x150
#define BONE_P9_23 0x044
#define BONE_P9_24 0x184

#define BONE_P9_25 0x1AC
#define BONE_P9_26 0x180
#define BONE_P9_27 0x1A4
#define BONE_P9_28 0x19C

#define BONE_P9_29 0x194
#define BONE_P9_30 0x198
#define BONE_P9_31 0x190

/* Shared P21 of P11 */
#define BONE_P9_41A 0x1B4
#define BONE_P9_41B 0x1A8

/* Shared P22 of P11 */
#define BONE_P9_42A 0x164
#define BONE_P9_42B 0x1A0

#endif


/ {

	/* overwrite device model */
	model = "BeagleBone Black + Letux extensions";
	compatible = "goldelico,am335x-bone-black+letux", "ti,am335x-bone-black", "ti,am335x-bone", "ti,am33xx";
};

/ {
/*
 * we assume a Chipsee BBB-EXP43 with 4.3 inch panel, resistive touch and some LEDs and Buttons
 * http://www.chipsee.com/index.php/evm/beagleboard/cs-bbb-exp43.html
 */

/*
user LED gpio1_28
buttons: gpio1_16, 1_17, 1_19, 3_16, 0_15  => left/right/up/down/enter
lcd: 16 bit parallel (using 24 bit per pixel)
enable: gpio3_19
backlight: EHRPWM1A
touch: internal to am335x
*/

	gpio-leds {

		compatible = "gpio-leds";

		pinctrl-names = "default";
		pinctrl-0 = <&led_pins>;

		led@user {
			label = "bbb-exp43::user";
			gpios = <&gpio1 28 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "on";
		};

		led@backlight {
			label = "bbb-exp43::backlight";
			gpios = <&gpio1 18 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		pinctrl-names = "default";
		pinctrl-0 = <&button_pins>;

		left-button {
			label = "left";
			linux,code = <KEY_LEFT>;
			gpios = <&gpio1 16 GPIO_ACTIVE_LOW>;
			gpio-key,wakeup;
		};

		right-button {
			label = "right";
			linux,code = <KEY_RIGHT>;
			gpios = <&gpio1 17 GPIO_ACTIVE_LOW>;
			gpio-key,wakeup;
		};

		up-button {
			label = "up";
			linux,code = <KEY_UP>;
			gpios = <&gpio1 19 GPIO_ACTIVE_LOW>;
			gpio-key,wakeup;
		};

		down-button {
			label = "down";
			linux,code = <KEY_DOWN>;
			gpios = <&gpio3 16 GPIO_ACTIVE_LOW>;
			gpio-key,wakeup;
		};

		enter-button {
			label = "enter";
			linux,code = <KEY_ENTER>;
			gpios = <&gpio0 15 GPIO_ACTIVE_LOW>;
			gpio-key,wakeup;
		};

	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&ehrpwm1 0 50000 0>;
		pwm-names = "backlight";
		brightness-levels = <0 1 2 5 10 20 40 60 80 100 150 255>;
		default-brightness-level = <10>;
	};

	panel {
		compatible = "innolux,at043tn24";
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_24bit_pins>;

		backlight= <&backlight>;
		enable-gpios = <&gpio3 19 GPIO_ACTIVE_HIGH>;

		port {
			panel_0: endpoint@0 {
				remote-endpoint = <&lcdc_0>;
			};
		};
	};
};

&epwmss1 {
	status = "okay";
};

&ehrpwm1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&bb_lcd_pwm_backlight_pins>;
};

&lcdc_0 {
	remote-endpoint = <&panel_0>;
};

&tda19988 {
	status = "disabled";
	/delete-node/ ports;
};

&tscadc {
	status = "okay";

	tsc {
		ti,wires = <4>;
		ti,x-plate-resistance = <600>;
		ti,coordinate-readouts = <5>;
		ti,wire-config = <0x00 0x11 0x22 0x33>;
	};

	adc {
		ti,adc-channels = <4 5 6 7>;
	};
};

&am33xx_pinmux {

	button_pins: pinmux_button_pins {
		pinctrl-single,pins = <
			BONE_P9_15 0x2f	/* KEY_LEFT gpmc_a0.gpio1_16, INPUT | PULLDIS | MODE7 */
			BONE_P9_23 0x2f	/* KEY_RIGHT gpmc_a1.gpio1_17, INPUT | PULLDIS | MODE7 */
			BONE_P9_16 0x2f	/* KEY_UP gpmc_a3.gpio1_19, INPUT | PULLDIS | MODE7 */
			BONE_P9_30 0x2f	/* KEY_ENTER gpmc_a2.gpio3_16, INPUT | PULLDIS | MODE7 */
			BONE_P9_24 0x2f	/* KEY_DOWN uart1_txd.gpio0_15, INPUT | PULLDIS | MODE7 */
		>;
	};

	led_pins: pinmux_led_pins {
		pinctrl-single,pins = <
			BONE_P9_12 0x2f	/* gpmc_ben1.gpio1_28, OUTPUT | PULLDIS | MODE7 */
		>;
	};

	bb_lcd_pwm_backlight_pins: pinmux_bb_lcd_pwm_backlight_pins {
		pinctrl-single,pins = <
			BONE_P9_14 (PIN_OUTPUT_PULLUP | MUX_MODE6) /* gpmc_a2.ehrpwm1a */
		>;
	};

	lcd_24bit_pins: pinmux_lcd_18bit_pins {
		pinctrl-single,pins = <
			/* P8_45: lcd_data0.lcd_data0 */
			BONE_P8_45 (PIN_OUTPUT | MUX_MODE0)
			/* P8_46: lcd_data1.lcd_data1 */
			BONE_P8_46 (PIN_OUTPUT | MUX_MODE0)
			/* P8_43: lcd_data2.lcd_data2 */
			BONE_P8_43 (PIN_OUTPUT | MUX_MODE0)
			/* P8_44: lcd_data3.lcd_data3 */
			BONE_P8_44 (PIN_OUTPUT | MUX_MODE0)
			/* P8_41: lcd_data4.lcd_data4 */
			BONE_P8_41 (PIN_OUTPUT | MUX_MODE0)
			/* P8_42: lcd_data5.lcd_data5 */
			BONE_P8_42 (PIN_OUTPUT | MUX_MODE0)
			/* P8_39: lcd_data6.lcd_data6 */
			BONE_P8_39 (PIN_OUTPUT | MUX_MODE0)
			/* P8_40: lcd_data7.lcd_data7 */
			BONE_P8_40 (PIN_OUTPUT | MUX_MODE0)
			/* P8_37: lcd_data8.lcd_data8 */
			BONE_P8_37 (PIN_OUTPUT | MUX_MODE0)
			/* P8_38: lcd_data9.lcd_data9 */
			BONE_P8_38 (PIN_OUTPUT | MUX_MODE0)
			/* P8_36: lcd_data10.lcd_data10 */
			BONE_P8_36 (PIN_OUTPUT | MUX_MODE0)
			/* P8_34: lcd_data11.lcd_data11 */
			BONE_P8_34 (PIN_OUTPUT | MUX_MODE0)
			/* P8_35: lcd_data12.lcd_data12 */
			BONE_P8_35 (PIN_OUTPUT | MUX_MODE0)
			/* P8_33: lcd_data13.lcd_data13 */
			BONE_P8_33 (PIN_OUTPUT | MUX_MODE0)
			/* P8_31: lcd_data14.lcd_data14 */
			BONE_P8_31 (PIN_OUTPUT | MUX_MODE0)
			/* P8_32: lcd_data15.lcd_data15 */
			BONE_P8_32 (PIN_OUTPUT | MUX_MODE0)

			/* gpmc_ad15.lcd_data16 */
			BONE_P8_15 (PIN_OUTPUT | MUX_MODE1)
			/* gpmc_ad14.lcd_data17 */
			BONE_P8_16 (PIN_OUTPUT | MUX_MODE1)
			/* gpmc_ad13.lcd_data18 */
			BONE_P8_11 (PIN_OUTPUT | MUX_MODE1)
			/* gpmc_ad12.lcd_data19 */
			BONE_P8_12 (PIN_OUTPUT | MUX_MODE1)
			/* gpmc_ad11.lcd_data20 */
			BONE_P8_17 (PIN_OUTPUT | MUX_MODE1)
			/* gpmc_ad10.lcd_data21 */
			BONE_P8_14 (PIN_OUTPUT | MUX_MODE1)
			/* gpmc_ad9.lcd_data22 */
			BONE_P8_13 (PIN_OUTPUT | MUX_MODE1)
			/* gpmc_ad8.lcd_data23 */
			BONE_P8_19 (PIN_OUTPUT | MUX_MODE1)

			/* P8_27: lcd_vsync.lcd_vsync */
			BONE_P8_27 (PIN_OUTPUT | MUX_MODE0)
			/* P8_29: lcd_hsync.lcd_hsync */
			BONE_P8_29 (PIN_OUTPUT | MUX_MODE0)
			/* P8_28: lcd_pclk.lcd_pclk*/
			BONE_P8_28 (PIN_OUTPUT | MUX_MODE0)
			/* P8_30: lcd_ac_bias_en.lcd_ac_bias_en */
			BONE_P8_30 (PIN_OUTPUT | MUX_MODE0)

			/* P9_27: gpio3_19 */
			BONE_P9_27 (PIN_OUTPUT_PULLUP | MUX_MODE7)
		>;
	};
};
