/*
 * Copyright (C) 2015 Golden Delicous Computers - http://www.goldelico.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/* this version is for the Letux Cortex 15 CPU board (V4.9) */

#include "omap5-letux-cortex15-v5.0.dts"

/*
 * patches to work around a hardware bug
 * (broken broken OMAP5 <-> Palmas I2C1)
 * in the V4.9 prototype CPU board
 * the trick is to replace the regulators that
 * are not accessible by regulator-fixed
 */

/ {
	model = "Letux Cortex 15 V4.9";

	vmmc1_fixed: fixedregulator-mmc1 {
		compatible = "regulator-fixed";
		regulator-name = "vmmc1_fixed";
		regulator-min-microvolt = <3000000>;
		regulator-max-microvolt = <3000000>;
	};

	ldo2_reg_fixed: fixedregulator-ldo2 {
		compatible = "regulator-fixed";
		regulator-name = "ldo2";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	ldo4_reg_fixed: fixedregulator-ldo4 {
		compatible = "regulator-fixed";
		regulator-name = "ldo4";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	smps7_reg_fixed: fixedregulator-smps7 {
		compatible = "regulator-fixed";
		regulator-name = "smps7";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	smps9_reg_fixed: fixedregulator-smps9 {
		compatible = "regulator-fixed";
		regulator-name = "smps9";
		regulator-min-microvolt = <2100000>;
		regulator-max-microvolt = <2100000>;
	};
};

&hdmi {
	vdda-supply = <&ldo4_reg_fixed>;
};

&dsi1 {
	vdd-supply = <&ldo4_reg_fixed>;
};

&twl6040 {
	status = "disabled";	/* can't work */
	vio-supply = <&smps7_reg_fixed>;
	v2v1-supply = <&smps9_reg_fixed>;
};

&mmc1 { /* first (u)SD slot */
	vmmc-supply = <&vmmc1_fixed>;	/* LDO9 is not working */
};

&mmc4 { /* second (u)SD slot (SDIO capable) */
	vmmc-supply = <&ldo2_reg_fixed>;	/* LDO2 is not working */
};
