/*
 * Copyright (C) 2014 H. Nikolaus Schaller <hns@goldelico.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/ {
	model = "Goldelico GTA04b2/Letux 3704";

	/* overwrite panel definitions */

	/delete-node/ spi_lcd;

	lcd: lcd {
		compatible =	"ortustech,com37h3m05dtc",
				"ortustech,com37h3m099dtc",
				"panel-dpi";
		label = "lcd";
		enable-gpios = <&gpio1 20 0>;

		panel-timing {
			clock-frequency = <22153000>;

			hback-porch = <10>;
			hactive = <480>;
			hfront-porch = <8>;
			hsync-len = <10>;

			vback-porch = <4>;
			vactive = <640>;
			vfront-porch = <4>;
			vsync-len = <3>;

			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <1>;

		};

		port {
			lcd_in: endpoint {
				remote-endpoint = <&dpi_out>;
			};
		};
	};
};

&omap3_pmx_core2 {
	/delete-node/ spi_gpio_pinmux;
};

/* FIXME: add optional TRF7970 */

&bat {
	battery-name = "Letux-7004-battery";
	energy-full-design-microwatt-hours = <14430000>;
	charge-full-design-microamp-hours = <3900000>;
};

&i2c2 {
	/* we have a different set of LEDs */
	tca_gpios: tca6507@45 {
		compatible = "ti,tca6507";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x45>;

		gta04_led0: led@0 {
			compatible = "led";
			label = "gta04:red:aux";
			reg = <0x0>;
		};

		gta04_led1: led@1 {
			compatible = "led";
			label = "gta04:green:power";
			linux,default-trigger = "default-on";
			reg = <0x1>;
		};

		gta04_led3: led@3 {
			reg = <7>;
		};

		gta04_led4: led@4 {
			reg = <7>;
		};

		wifi_reset: led@6 { /* reference as <&tca_gpios 0 0> since it is currently the only GPIO */
			reg = <0x6>;
			compatible = "gpio";
		};

	};

	/* touchscreen */
	tsc2007@48 {
		compatible = "ti,tsc2007";
		reg = <0x48>;
		pinctrl-names = "default";
		pinctrl-0 = <&penirq_pins>;
		interrupt-parent = <&gpio6>;
		interrupts = <0 IRQ_TYPE_EDGE_FALLING>;
		gpios = <&gpio6 0 GPIO_ACTIVE_LOW>;	/* gpio160 */
		ti,x-plate-ohms = <450>;
		touchscreen-size-x = <480>;
		touchscreen-size-y = <800>;
		touchscreen-max-pressure = <1000>;
		touchscreen-fuzz-x = <2>;
		touchscreen-fuzz-y = <2>;
		touchscreen-fuzz-pressure = <10>;
		ti,min-x = <190>;
		ti,max-x = <3900>;
		ti,min-y = <140>;
		ti,max-y = <3900>;
		ti,max-rt = <1000>;
	};

};

/*

// define pinmux for trf7970a_default

&spi1 {
	status = "okay";

	nfc@0 {
		compatible = "ti,trf7970a";
		reg = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&trf7970a_default>;
		spi-max-frequency = <2000000>;
		interrupt-parent = <&gpio2>;
		interrupts = <14 0>;
		ti,enable-gpios = <&gpio2 2 GPIO_ACTIVE_LOW>,
				  <&gpio2 5 GPIO_ACTIVE_LOW>;
		vin-supply = <&ldo3_reg>;
		vin-voltage-override = <5000000>;
		autosuspend-delay = <30000>;
		irq-status-read-quirk;
		en2-rf-quirk;
		t5t-rmb-extra-byte-quirk;
		status = "okay";
	};
};
*/
