<?xml version="1.0"?>
<?eclipse version="3.2"?>
<plugin>
  <extension point="org.eclipse.help.toc">
    <toc file="toc.xml" primary="true"/>
  </extension>
  <extension point="org.eclipse.help.base.luceneSearchParticipants">
    <binding participantId="org.eclipse.help.base.xhtml"/>
  </extension>
</plugin>