/*
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/* just an alternate (deprecated) name hard-coded in Letux u-boot */

#include "omap4-panda-es.dts"

