menuconfig PVR
	tristate "PowerVR Services"
	depends on OMAP2_DSS

if PVR

choice
	prompt "Build type"
	default PVR_RELEASE
config PVR_RELEASE
	bool "Release"
config PVR_DEBUG
	bool "Debug"
config PVR_TIMING
	bool "Timing"
endchoice

config PVR_DEBUG_EXTRA
	bool "Extra debugging info"
	depends on PVR_DEBUG
	help
	    This enables extra debugging facilities on top of what you
	    get with setting debug build type above. This effectively
	    changes the driver's ABI, so the user space clients using
	    the driver need to be built in debug mode as well.

config PVR_DEBUG_PDUMP
	tristate "PDUMP debug support"
	depends on PVR
	default n

config PVR_EDM_DEBUG
	depends on PVR
	bool "Enable EDM trace"
	default n
	help
	    This will print the micro kernel (EDM) tracing buffer in case
	    of a HW recovery event. You also need a micro kernel that was
	    configured to generate this trace.

config PVR_NO_HARDWARE
	bool
	default n

config PVR_FORCE_CLOCKS_ON
	bool "Force clocks on"
	depends on !PVR_NO_HARDWARE
	default n

config PVR_EXAMPLES
	tristate "Example code"
	default n

endif
